{% extends "base.html" %}
{% block content %}

        <h2>Войдите или зарегестрируйтесь</h2>
        <div class="login_columns">
            <div class="green_box">
                <div class="green_box_labe1">
                    Логин, номер телефона, почта
                </div>
                <input type="text">
                <div class="green_box_labe1">
                    Пароль
                </div>
                <input type="text">
                <input type="button" value="Вход">
                </div>
            <div class="green_box">
            </div>
        </div>

{% endblock %}
